APP_NAME=monitoring-alert-telegram

MONGO_URI="mongodb://localhost:27017/"
MONGO_DB_NAME="telegram_bot"
MONGO_RAW_COLLECTION="raw_updates"
MONGO_STATE_COLLECTION="state"
MONGO_GROUPS_COLLECTION="groups"
THRESHOLD=200

TELEGRAM_TOKEN="<TELEGRAM_TOKEN>"
