APP_NAME="ai-opencode"
NETWORK_NAME="ai_opencode"
PORT_OPENCODE_WEB_INF=62121

DIR_WORKSPACE="/workplace"
DIR_OPENCODE="/root/.opencode"
DIR_OPENCODE_MCP="/workplace/mcp"
DIR_OPENCODE_G_CONFIG="/root/.config/opencode"
HKOAI_API_KEY="<HKOAI_API_KEY>"
MYSQL_HOST="<MYSQL_HOST>"
MYSQL_PORT="<MYSQL_PORT>"
MYSQL_USER="<MYSQL_USER>"
MYSQL_PASSWORD="<MYSQL_PASSWORD>"
