APP_NAME="monitoring-alert-email"

# Email
## Sender
SMTP_FROM="martinmcc5804@gmail.com"
## Mode-specific SMTP settings
### INTERNET
INTERNET_SMTP_PASSWORD="<PASSCODE>" # PASSCODE
INTERNET_SMTP_USE_TLS="true"
### INTRANET
INTRANET_SMTP_PASSWORD="<PASSCODE>"
INTRANET_SMTP_USE_TLS="false"
## Service mappings
SMTP_TO_GMAIL="martinmcc5804@gmail.com"
SMTP_TO_QEM="ccmak@hko.hksarg"
SMTP_TO_CASIS="ccmak@hko.hksarg"