<footer th:fragment="content">
        <!-- custom -->
        <script type="text/javascript" src="/js/config/parameters.js" defer></script>
        <link rel="stylesheet" href="/css/config/parameters.css">

        <br>
        <br>
        <span>
            <button type="button" class="btn btn-danger" id="clear-all">clear</button>
            <button type="button" class="btn btn-primary" id="check">check</button>
            <button type="button" class="btn btn-success" id="save">save</button>
        </span>
        <br>
        <br>
        <div id="example-table">
        </div>
        <br>
        <br>
</footer>
